* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #ffffff;
  color: black;
  font-family: "Inter", sans-serif;
  margin: 5% 5% 2%;
  font-size: 16px;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.2rem;
}

a {
  font-size: 1rem;
  color: black;
}

a:hover {
  color: red;
}

.image-container {
  width: 50%;
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.home > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.current {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: end;
  font-weight: 500;
}

.current span {
  margin-left: 2px;
  font-size: 1.1rem;
}

.links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.links a {
  text-decoration: underline;
}

@media (max-width: 992px) {
  html,
  body {
    margin: 3%;
  }

  p {
    font-size: 1rem;
  }

  .image-container {
    width: 100%;
  }

  .home {
    flex-direction: column-reverse;
    gap: 20px;
  }

  img {
    max-width: 350px;
  }
}
